.base-btn {
   border: none;
   text-transform: uppercase;
   border-radius: 4px;
   font-size: 18px;
   text-align: center;
   color: $third;
   background-color: $thireenth;
   box-shadow: 0px 4px 0px 0px $twenty-fourth;
   padding: 36px 71px;
   cursor: pointer;
}