$primary: #643a79;
$secondary: #17c2a4;
$third: #ffffff;
$fourth: #14a58c; 
$fifth: #e7f1f8;
$sixth: #3c4761;
$seventh:#bdd1df;
$eighth: #27283d;
$ninth: #30bae7;
$tenth: #dfe8ed;
$eleventh:#d74680;
$twelvth: #15c7a8;
$thireenth: #eb7d4b;
$fourteenth: #ffdd99;
$fifteenth: #393939;
$sixteenth: #e5c37f;
$seventeenth: #ad3c69;
$eighteenth: #3c5499;
$nineteenth: #273a71;
$twentieth: #f80411;
$twenty-first: #199fcc;
$twenty-second: #344b8e;
$twenty-third: #87509c;
$twenty-fourth: #c86a40;
$twenty-fifth: #10ad91;